body {
    /* color: red;
    color: rgb(0,255,0)
    color: #0000ff;
    color: #00f */
    color: #333
    font-family: Verdana, sans-serif;
    /* margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px; */
    margin: 0;
  }

  header h1 {
    text-align: left;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 20px;
  }
  
  header ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
  }
  header li{
    display:inline-block;
    /* padding-top: 4px;
    padding-bottom: 4px
    padding-left: 8px
    padding-right: 8px */
    padding: 4px 8px;
    font-size: 20px;
    color:#FFFFFF;
  }
  
  header li > a {
    text-decoration: none;
    color: inherit;
  }
  
  header li > a:hover {
    color: rgb(237, 241, 10);
  }
  header {
    text-align: right;
    background-size: cover;
    height: 160px;
    padding: 10px;
    background-color:#333;
    opacity: 0.9;
    background-position: 50% 50%;
    margin-bottom: 60px;
  }
  
  .current {
    border-bottom: 4px solid #FFFFFF;
  }

  img {
      width: 280px;
      height: 180px;
  }

